<table id="basket-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="i in products">
            <td >
                <a href="/product/{{i.id}}"> {{i.title}} </a>
            </td>
            <td>{{i.qty}}</td>
            <td>${{i.price}}</td>
        </tr>
        <tr>
            <td colspan="2" align="right">Total</td>
            <td>${{totalPrice}}</td>
        </tr>
    </tbody>
</table>