<form>
    <div id="tags">
        <ul class="breadcrumb__list" itemscope="" itemtype="//schema.org/BreadcrumbList">
            <li class="breadcrumb__item" itemscope="" itemprop="itemListElement" itemtype="//schema.org/ListItem", data-ng-repeat="i in product.tags">
                <span class="breadcrumb__item-text">
                    <a title="{{i}}" href="/tags/{{i}}" class="breadcrumb__item-anchor" itemprop="item">
                        <span itemprop="name">{{i}}</span>
                    </a>
                </span>
            </li>
        </ul>
        <!-- basically copied lazada... not sure if right -->
    </div>
    <div class="row">
        <div class="col-md-6">
              <img src="/img/horse524.jpg" alt="A horse" style="width:100%;" />
        </div>
        <div class="col-md-6">
            <h2 id="product_name">{{product.title}}</h2>
            <!-- <div id="product_rating"> rating: {{product.product_rating}}</div> -->
            <div class="rating-box">
                <div style="width:{{product.rating}}%" class="rating", title="rating: {{product.rating}}%">
                </div>
            </div>
            <!-- found via http://www.jwebmedia.com/blog/technique-to-display-product-ratings-using-css/ -->
            <div> seller: {{product.seller}}</div>
            <br>
          <!-- how do I make a space without using br? -->
            <p id="product_description">
                {{product.description}}
            </p>
            <div class = "row">
                <div class="col-md-4">
                    <h1> ${{product.price}}</h1>
                    <div> discount: {{product.discount}} %</div>
                </div>
                <div class="col-md-6">
                    <br>
                    <br>
                    <select ng-model="qty">
                        <option value="">Qty</option>
                        <option data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                    </select>
                    <input type="submit" value="Add to basket" ng-click="addToBasket(product)" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2> Related Products </h2>

        <div class="col-sm-3" data-ng-repeat="i in product.recommendations">
            <a href="/product/{{i.product}}">
                <img src="/img/horse524.jpg" alt="A horse" style="width:100%">
            </a>
            <p>{{i.product}}</p>
        </div>

    </div>

    <div class="row">
        <h2> Comments </h2>
        <div data-ng-repeat="i in product.comments">
            <h3> {{i.title}} </h3>
            <div class="rating-box">
                <div style="width:{{i.rating}}%" class="rating", title="rating: {{i.rating}}%"></div>
            </div>
            <p> {{i.description}}</p>
        </div>
    </div>
</form>

