<h2>search: {{search}}</h2>
<a href="/product/{{i._id}}" data-ng-repeat="i in products" title="{{i.title}}">
    <div class="item col-sm-2 thumbnail">
        <img src="{{i.images[0].url}}" alt="i.title" style="width:100%">
        <div class="rating-box">
            <div style="width:{{i.rating}}%" class="rating", title="rating: {{i.rating}}%">
            </div>
        </div>
        <h4 class="product-title">{{i.title}}</h4>
        <h4 class="product-price">${{i.price}}</h4>
    </div>
</a>